*{
    margin: 0px;
    padding: 0px;
}
div{
    width: 100%;
    height: 100vh;
}
#content ul li{
    padding-left: 40px;
    list-style-type: none;
}
#wrap{
    display: flex;
    background-color: #364371;
    justify-content: center;
    
}
#nav{
    background: #B0CFFF;
    width: 150px;
    height: 100%;
    padding-left: 10px;

}
#content{
    background-color: #5B7FBD;
    width: 700px;
    text-align: center;
    
}
#nav ul{
    text-align: left;
    padding-left: 40px;
}
.copyright{
    margin-top: 30px;
}
h1, h2{
    margin: 20px 0;
}
